-f https://download.pytorch.org/whl/torch_stable.html
flask
flask-cors
onnx
onnxruntime
numpy<2.0
pillow
gunicorn
torch==2.2.0+cpu
torchvision==0.17.0+cpu
opencv-python-headless
matplotlib
pyyaml
tqdm
psutil
pymongo
